html {
    font-family: "Bahnschrift";
}

table {
    border-collapse: collapse;
    align-items: center;
}

th, td {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 40px;
  font-size: xx-large;
}



[class^="subtable"],
.isNotEditable
{
    transition-duration: 0.3s;
}

.color1, 
.color2 {
    animation: growBall 0.3s cubic-bezier(.17,.67,.22,1.44) forwards;
}

@keyframes growBall {
    0% {
        opacity: 0;
        scale: 0.75;
        border-radius: 40px;
    }
    100% {
        opacity: 1;
        scale: 1;
        border-radius: 20px;
    }
}

/* hiding it for now because livecounter isn't finished */
#livecounter {
    display: none;
}


.isNotEditable
{
    cursor: not-allowed;
}

.isDone {
    cursor: not-allowed;
    animation: growinout cubic-bezier(.17,.67,.22,1.44) 0.2s forwards;
}

@keyframes growinout {
    0% {
        scale: 1;
        opacity: 1;
        transform: rotate(0deg);
    }
    50% {
        scale: 0;
        opacity: 0.5;
        transform: rotate(30deg);
    }
    100% {
        scale: 1;
        opacity: 1;
        transform: rotate(0deg);
    }
}

th {
  background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
}